	.mediaViewInfo {
		--web-view-name: Web 1366 – 1;
		--web-view-id: Web_1366__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1366__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1366__1 {
		position: absolute;
		width: 1366px;
		height: 768px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1366 – 1;
		--web-view-id: Web_1366__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Imagen_1 {
		position: absolute;
		width: 653px;
		height: 589px;
		left: 155px;
		top: 30px;
		overflow: visible;
	}
	#Rectngulo_74 {
		fill: rgba(166,195,238,1);
	}
	.Rectngulo_74 {
		position: absolute;
		overflow: visible;
		width: 270px;
		height: 63px;
		left: 423px;
		top: 388px;
	}
	#Rectngulo_75 {
		fill: rgba(166,195,238,1);
	}
	.Rectngulo_75 {
		position: absolute;
		overflow: visible;
		width: 270px;
		height: 63px;
		left: 423px;
		top: 306px;
	}
	#Rectngulo_76 {
		fill: rgba(166,195,238,1);
	}
	.Rectngulo_76 {
		position: absolute;
		overflow: visible;
		width: 270px;
		height: 63px;
		left: 423px;
		top: 224px;
	}
	#Calcular_Edad {
		left: 487px;
		top: 410px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(13,0,0,1);
		cursor: pointer;
	}
	#Calcular_Edad:hover{
		color:#944a28;
	}
	#Calcular_Permetro_y_rea {
		left: 448px;
		top: 328px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(13,0,0,1);
		cursor: pointer;
	}
	#Calcular_Permetro_y_rea:hover{
		color:#944a28;
	}
	#Tabla_de_Multiplicar {
		left: 471px;
		top: 246px;
		position: absolute;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgb(7, 0, 0);
		cursor: pointer;
	}
	#Tabla_de_Multiplicar:hover{
		color:#944a28;
	}


